/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
html {
  font-size: 18px;
  font-family: 'Malgun Gothic', sans-serif;
}
a {
  display: inline-block;
  cursor: pointer;
}
input,
select {
  border: 0;
  outline: none;
}
@media screen and (min-width: 751px) {
  .web {
    display: inline-block;
  }
  .mo {
    display: none;
  }
  .container {
    overflow: hidden;
  }
  .container .wrap {
    font-size: 0rem;
    min-width: 68.88888889rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container .wrap header {
    letter-spacing: -0.075em;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 50%;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 100%;
    transform: translateX(-50%);
    background-color: #000;
  }
  .container .wrap header .h-inner {
    width: 68.88888889rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
  }
  .container .wrap header .h-inner:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header .h-inner h1 {
    height: 3.33333333rem;
    line-height: 3.33333333rem;
    display: inline-block;
  }
  .container .wrap header .h-inner h1 a {
    font-size: 1.22222222rem;
    font-weight: 700;
  }
  .container .wrap header .h-inner ul {
    float: right;
  }
  .container .wrap header .h-inner ul li {
    font-size: 1.22222222rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 3.33333333rem;
    text-align: center;
    padding-top: 0.83333333rem;
    padding-right: 1.94444444rem;
    padding-bottom: 0rem;
    padding-left: 1.94444444rem;
    box-sizing: border-box;
  }
  .container .wrap header .h-inner ul li a {
    width: 100%;
    height: 100%;
  }
  .container .wrap header .h-inner ul li:last-child a {
    padding-right: 0rem;
  }
  .container .wrap header .h-inner ul li:last-child:after {
    display: none;
  }
  .container .wrap header .h-inner ul li:after {
    content: '';
    display: block;
    position: absolute;
    right: 0rem;
    top: 1.11111111rem;
    left: auto;
    bottom: auto;
    width: 0.05555556rem;
    height: 1.16666667rem;
    background-color: #fff;
  }
  .container .wrap header .h-inner ul li.on a {
    color: #faa21b;
  }
  .container .wrap article {
    margin-top: 3.33333333rem;
  }
  .container .wrap article section h2 {
    font-size: 1.66666667rem;
    letter-spacing: -0.05em;
    color: #fff;
    display: inline-block;
    position: relative;
  }
  .container .wrap article section h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -0.66666667rem;
    right: auto;
    top: auto;
    transform: translateX(-50%);
    width: 9.83333333rem;
    height: 0.11111111rem;
    background-color: #fff;
  }
  .container .wrap article section .btn {
    font-size: 1.11111111rem;
    font-weight: 700;
    text-align: center;
    background-color: #faa21b;
    border-radius: 0.27777778rem;
    line-height: 3.44444444rem;
    width: 17.22222222rem;
    height: 3.44444444rem;
    display: inline-block;
  }
  .container .wrap article section .btn img {
    width: 1.11111111rem;
    height: 1.05555556rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.83333333rem;
  }
  .container.login-cont {
    background: url("../img/pc/bg.png") no-repeat center top;
    background-size: cover;
    height: 100vh;
    min-height: 53.33333333rem;
  }
  .container.login-cont .wrap article {
    position: relative;
    height: calc(100vh - 80px);
    min-height: 57.77777778rem;
  }
  .container.login-cont .wrap article section {
    width: 29rem;
    height: 34.16666667rem;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -23.33333333rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -14.44444444rem;
  }
  .container.login-cont .wrap article section h2 {
    margin-bottom: 8.33333333rem;
  }
  .container.login-cont .wrap article section .login-form {
    width: 29rem;
    background-color: #fff;
    border-radius: 0.27777778rem;
    padding-top: 2.55555556rem;
    padding-right: 2.55555556rem;
    padding-bottom: 1.83333333rem;
    padding-left: 2.55555556rem;
    box-sizing: border-box;
    text-align: left;
    letter-spacing: -0.075em;
  }
  .container.login-cont .wrap article section .login-form .tit {
    font-size: 1.66666667rem;
    margin-bottom: 1.38888889rem;
  }
  .container.login-cont .wrap article section .login-form .input-w p {
    font-size: 1.11111111rem;
    color: #999;
    margin-bottom: 0.44444444rem;
  }
  .container.login-cont .wrap article section .login-form .input-w input {
    font-size: 1.11111111rem;
    height: 2.22222222rem;
    line-height: 2.22222222rem;
    border: 1px solid #999;
    box-sizing: border-box;
    padding-left: 0.83333333rem;
    width: 100%;
    margin-bottom: 0.55555556rem;
  }
  .container.login-cont .wrap article section .login-form .submit {
    width: 100%;
    margin-top: 1.66666667rem;
    margin-right: 0rem;
    margin-bottom: 0.83333333rem;
    margin-left: 0rem;
  }
  .container.login-cont .wrap article section .login-form .bott {
    text-align: center;
  }
  .container.login-cont .wrap article section .login-form .bott p {
    font-size: 1.11111111rem;
    color: #666;
    letter-spacing: -0.025em;
  }
  .container.login-cont .wrap article section .login-form .bott p a {
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #000;
  }
  .container.reg {
    position: relative;
  }
  .container.reg:after {
    content: '';
    display: block;
    background: url("../img/pc/regi-bg.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 100vw;
    height: 19.66666667rem;
  }
  .container.reg .wrap header:after {
    content: '';
    display: block;
    background-color: #000;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 0rem;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
    width: 100vw;
    height: 3.33333333rem;
    z-index: -1;
  }
  .container.reg .wrap article {
    position: relative;
    z-index: 1;
  }
  .container.reg .wrap article section.visu {
    height: 16.22222222rem;
    text-align: left;
  }
  .container.reg .wrap article section.visu h2 {
    font-size: 2.33333333rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 3.88888889rem;
    right: auto;
    bottom: auto;
    margin-left: -30rem;
  }
  .container.reg .wrap article section.visu h2:after {
    display: none;
  }
  .container.reg .wrap article section.reg-cont {
    background-color: #000;
    padding-top: 3.33333333rem;
    padding-right: 0rem;
    padding-bottom: 6.66666667rem;
    padding-left: 0rem;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container.reg .wrap article section.reg-cont .tit {
    font-size: 1.11111111rem;
    color: #fff;
    margin-top: 3.33333333rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap {
    margin-top: 2.22222222rem;
    text-align: left;
    position: relative;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input {
    margin-bottom: 1.11111111rem;
    width: 68.55555556rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.94444444rem;
    box-sizing: border-box;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input p {
    font-size: 0.88888889rem;
    color: #fff;
    width: 6.11111111rem;
    height: 2.22222222rem;
    line-height: 2.22222222rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.22222222rem;
    text-align: justify;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input p:after {
    content: '';
    display: block;
    display: inline-block;
    width: 100%;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input input {
    font-size: 0.88888889rem;
    color: #fff;
    width: 58.05555556rem;
    height: 2.22222222rem;
    line-height: 2.22222222rem;
    border: 1px solid #444;
    background-color: #000;
    padding-left: 1.11111111rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input ::placeholder {
    color: #fff;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input .select {
    position: relative;
    display: inline-block;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input .select:after {
    content: '';
    display: block;
    width: 1.77777778rem;
    height: 1.16666667rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/select-arrow.png');
    background-size: contain;
    position: absolute;
    right: 0.83333333rem;
    top: 0.55555556rem;
    left: auto;
    bottom: auto;
    pointer-events: none;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input .select select {
    font-size: 0.88888889rem;
    color: #fff;
    width: 7.33333333rem;
    height: 2.22222222rem;
    line-height: 2.22222222rem;
    border: 1px solid #444;
    text-align: left;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
    background-color: #000;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.tel input {
    width: 7.33333333rem;
    margin-left: 0.55555556rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.tel input[type="number"]::-webkit-outer-spin-button,
  .container.reg .wrap article section.reg-cont .input-wrap .input.tel input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.tel input[type=number] {
    -moz-appearance: textfield;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email {
    margin-bottom: 0.55555556rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email .p1 {
    width: 30.72222222rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email .p2 {
    width: 14.77777778rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email input {
    display: inline-block;
    vertical-align: middle;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email span {
    font-size: 0.88888889rem;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.22222222rem;
    width: 2rem;
    height: 2.22222222rem;
    text-align: center;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email .select {
    margin-left: 0.55555556rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email .select select {
    width: 10rem;
  }
  .container.reg .wrap article section.reg-cont .input-wrap .input.email + span {
    font-size: 0.88888889rem;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: -1.66666667rem;
    right: auto;
    top: auto;
    margin-left: -23.77777778rem;
  }
  .container.reg .wrap article section.reg-cont .privacy {
    width: 68.55555556rem;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container.reg .wrap article section.reg-cont .privacy .tit {
    margin-top: 5.55555556rem;
  }
  .container.reg .wrap article section.reg-cont .privacy .cont {
    font-size: 0.88888889rem;
    color: #666;
    line-height: 1.66666667rem;
    letter-spacing: -0.075em;
    width: 68.55555556rem;
    height: 8rem;
    overflow: auto;
    border: 1px solid #444;
    padding-top: 0.83333333rem;
    padding-right: 1.11111111rem;
    padding-bottom: 0.83333333rem;
    padding-left: 1.11111111rem;
    box-sizing: border-box;
    margin-top: 1.11111111rem;
  }
  .container.reg .wrap article section.reg-cont .privacy .cont::-webkit-scrollbar {
    width: 0.44444444rem;
  }
  .container.reg .wrap article section.reg-cont .privacy .cont::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 0.44444444rem;
    opacity: 1;
  }
  .container.reg .wrap article section.reg-cont .agree {
    margin-top: 2.11111111rem;
    width: 68.55555556rem;
    text-align: left;
    display: inline-block;
  }
  .container.reg .wrap article section.reg-cont .agree .tit {
    margin-top: 0rem;
  }
  .container.reg .wrap article section.reg-cont label {
    margin-top: 0.94444444rem;
    display: block;
  }
  .container.reg .wrap article section.reg-cont label input[type=checkbox] + i {
    width: 0.88888889rem;
    height: 0.94444444rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chk.png');
    background-size: contain;
  }
  .container.reg .wrap article section.reg-cont label input[type=checkbox]:checked + i {
    width: 0.88888889rem;
    height: 0.94444444rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chkd.png');
    background-size: contain;
  }
  .container.reg .wrap article section.reg-cont label input {
    display: none;
  }
  .container.reg .wrap article section.reg-cont label s {
    font-size: 0.77777778rem;
    color: #fff;
    margin-left: 0.83333333rem;
    display: inline-block;
    vertical-align: middle;
  }
  .container.reg .wrap article section.reg-cont label s .mo {
    display: none;
  }
  .container.reg .wrap article section.reg-cont .btns {
    margin-top: 5rem;
  }
  .container.reg .wrap article section.reg-cont .btns .btn {
    margin-top: 0rem;
    margin-right: 0.55555556rem;
    margin-bottom: 0rem;
    margin-left: 0.55555556rem;
    height: 3.55555556rem;
    line-height: 3.55555556rem;
  }
  .container.main {
    position: relative;
  }
  .container.main .wrap header:after {
    content: '';
    display: block;
    background-color: #000;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 0rem;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
    width: 100vw;
    height: 3.33333333rem;
    z-index: -1;
  }
  .container.main .wrap section h2 {
    font-size: 1.66666667rem;
    margin-bottom: 3.88888889rem;
  }
  .container.main .wrap section .tit {
    font-size: 1.27777778rem;
    color: #faa21b;
    line-height: 1.83333333rem;
    margin-bottom: 1.66666667rem;
  }
  .container.main .wrap article {
    margin-top: 0rem;
    background-color: #000;
  }
  .container.main .wrap article .visual {
    position: relative;
    background: url("../img/pc/main-bg1.png") no-repeat center center;
    background-size: cover;
    height: 60rem;
  }
  .container.main .wrap article .visual h2 {
    font-size: 4.61111111rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 13.33333333rem;
    right: auto;
    bottom: auto;
    margin-left: -34.44444444rem;
    z-index: 1;
    letter-spacing: -0.075em;
  }
  .container.main .wrap article .visual h2:after {
    display: none;
  }
  .container.main .wrap article .visual .tit {
    font-size: 1.66666667rem;
    color: #faa21b;
    position: absolute;
    left: 50%;
    top: 20.27777778rem;
    right: auto;
    bottom: auto;
    margin-left: -34.44444444rem;
    z-index: 1;
    letter-spacing: -0.075em;
  }
  .container.main .wrap article .visual .date {
    font-size: 1.44444444rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 25.83333333rem;
    right: auto;
    bottom: auto;
    margin-left: -34.44444444rem;
    z-index: 1;
  }
  .container.main .wrap article .visual .date s {
    font-size: 1.44444444rem;
    display: inline-block;
    vertical-align: middle;
  }
  .container.main .wrap article .visual .date span {
    font-size: 1.77777778rem;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.11111111rem;
  }
  .container.main .wrap article .introduce {
    background: url("../img/pc/main-bg2.png") no-repeat center center;
    background-size: cover;
    height: 59.94444444rem;
    padding-top: 7.22222222rem;
    box-sizing: border-box;
  }
  .container.main .wrap article .introduce .noti {
    font-size: 1.11111111rem;
    color: #fff;
    margin-bottom: 1.94444444rem;
  }
  .container.main .wrap article .introduce table {
    font-size: 0.94444444rem;
    color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
    width: 68.88888889rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container.main .wrap article .introduce table tr th {
    line-height: 1.88888889rem;
    border-right: 1px solid #444;
    background-color: #111;
  }
  .container.main .wrap article .introduce table tr th:last-child {
    border-right: 0;
  }
  .container.main .wrap article .introduce table tr td {
    line-height: 1.66666667rem;
    padding-top: 1.38888889rem;
    padding-right: 0rem;
    padding-bottom: 1.38888889rem;
    padding-left: 0rem;
    border: 1px solid #444;
    letter-spacing: -0.00166667rem;
  }
  .container.main .wrap article .introduce table tr td:first-child {
    border-left: 0;
  }
  .container.main .wrap article .introduce table tr td:last-child {
    border-right: 0;
  }
  .container.main .wrap article .introduce table .empty1 th {
    border-top: 2px solid #444;
    background-color: #111;
  }
  .container.main .wrap article .introduce table .empty2 th {
    border-bottom: 2px solid #444;
    background-color: #111;
  }
  .container.main .wrap article .introduce table .empty3 th {
    background: none;
  }
  .container.main .wrap article .introduce table .empty4 th {
    border-bottom: 1px solid #444;
    background: none;
  }
  .container.main .wrap article .introduce table .t-f td {
    border-top: 0;
  }
  .container.main .wrap article .introduce table .t-l td {
    border-bottom: 0;
  }
  .container.main .wrap article .attend {
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12.22222222rem;
    padding-top: 7.22222222rem;
  }
  .container.main .wrap article .attend .btn {
    margin-top: 2.22222222rem;
    height: 3.55555556rem;
    line-height: 3.55555556rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container.main .wrap article .attend .info {
    width: 33.33333333rem;
    padding-left: 3.88888889rem;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-top: 3.88888889rem;
    margin-right: 0rem;
    margin-bottom: 3.88888889rem;
    margin-left: 0rem;
  }
  .container.main .wrap article .attend .info .tit {
    font-size: 1.22222222rem;
    color: #fff;
    letter-spacing: -0.025em;
    position: relative;
    margin-bottom: 2.22222222rem;
  }
  .container.main .wrap article .attend .info .tit i {
    width: 0.11111111rem;
    height: 1.11111111rem;
    background-color: #fff;
    display: inline-block;
    margin-top: 0.11111111rem;
    margin-right: 1.11111111rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    vertical-align: middle;
  }
  .container.main .wrap article .attend .info .tit:after {
    content: '';
    display: block;
    width: 25rem;
    height: 0.05555556rem;
    background-color: #444;
    position: absolute;
    left: 0rem;
    bottom: -1.11111111rem;
    right: auto;
    top: auto;
  }
  .container.main .wrap article .attend .info .txt {
    font-size: 1.11111111rem;
    color: #fff;
    line-height: 1.66666667rem;
  }
  .container.main .wrap footer {
    background-color: #000;
    padding-top: 1.11111111rem;
    padding-right: 0rem;
    padding-bottom: 2.22222222rem;
    padding-left: 0rem;
    box-sizing: border-box;
    border-top: 1px solid #444;
    text-align: center;
  }
  .container.main .wrap footer div {
    display: inline-block;
    vertical-align: top;
  }
  .container.main .wrap footer div p {
    font-size: 1.11111111rem;
    color: #fff;
    letter-spacing: -0.025em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.11111111rem;
  }
  .container.main .wrap footer div img {
    display: inline-block;
    vertical-align: middle;
  }
  .container.main .wrap footer div img.logo1 {
    width: 13.11111111rem;
    height: 1.33333333rem;
    margin-right: 1.11111111rem;
  }
  .container.main .wrap footer div img.logo2 {
    width: 8rem;
    height: 1.72222222rem;
  }
  .container.main .wrap footer div img.logo3 {
    width: 7.11111111rem;
    height: 1.94444444rem;
  }
  .container.main .wrap footer div + div {
    margin-left: 2.5rem;
  }
  .container.main .wrap footer div + div p {
    margin-top: -0.27777778rem;
  }
  .container.media {
    background: url("../img/pc/media-bg.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 53.33333333rem;
  }
  .container.media .wrap header:after {
    content: '';
    display: block;
    background-color: #000;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 0rem;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
    width: 100vw;
    height: 3.33333333rem;
    z-index: -1;
  }
  .container.media .wrap article {
    position: relative;
    height: calc(100vh - 80px);
    min-height: 57.77777778rem;
  }
  .container.media .wrap article section {
    width: 68.55555556rem;
    height: 39.66666667rem;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -19.83333333rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -34.27777778rem;
  }
  .container.media .wrap article section h2 {
    margin-bottom: 8.11111111rem;
  }
  .container.media .wrap article section .live-wrap {
    font-size: 0rem;
  }
  .container.media .wrap article section .live-wrap .media-wrap {
    width: 51.44444444rem;
    height: 28.94444444rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.94444444rem;
  }
  .container.media .wrap article section .live-wrap .chatting-wrap {
    width: 16.16666667rem;
    height: 28.94444444rem;
    display: inline-block;
    vertical-align: top;
  }
}
/*# sourceMappingURL=style.css.map */